

.adsFilter {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: 1135px;
  margin: 20px auto;
  padding: 20px 16px;
}

.filterGroup {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.filterLabel {
  font-weight: 500;
  margin-bottom: 6px;
  color: var(--text-secondary);
}

.checkboxGroup {
  display: flex;
  gap: 12px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.875rem;
  color: var(--text-secondary);
}

.checkbox {
  accent-color: var(--primary-color);
}

.select,
.input {
  padding: 6px 10px;
  background: var(--input-bg);
  color: var(--text-color);
  border: 1px solid var(--input-border);
  border-radius: 6px;
  font-size: 0.875rem;
  outline: none;
  transition: border-color .25s, background .25s;
}

.select:focus,
.input:focus {
  border-color: var(--primary-color);
}

.priceInputs {
  display: flex;
  gap: 8px;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

.applyButton {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.applyButton:hover {
  opacity: 0.9;
}

.resetButton {
  background-color: var(--button-reset-bg);
  color: var(--button-reset-text);
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.resetButton:hover {
  opacity: 0.9;
}


.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 1130px;
  margin: 0 auto;
  width: 1135px;
  height: 50px;
  padding: 10px;
  border-radius: 8px;

  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.label {
  font-weight: 600;
  color: var(--text-color);
}

.button {
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  background-color: rgb(82, 131, 187);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}




